/* 萌神手写体字体 */
@font-face {
    font-family: lovexhj;
    src: url("../fonts/lovexhj.ttf");
}

/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    word-break: break-all;
    outline: none;
    font-family: lovexhj;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: text !important;
}

[v-cloak] {
    display: none;
}

html,
body {
    height: 100%;
    min-height: 700px;
}

/* 统一过渡 */
#lovexhj,
#lovexhj > div,
.lovexhjBookMove,
.lovexhjBookListItem span,
.lovexhjBookListItem p {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* 按钮过渡 */
.lovexhjToButton,
.wdnmdsubmit {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

/* 定位居中 */
.wdnmdsubmit {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* 滚动条 */
*::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

*::-webkit-scrollbar-thumb {
    /* 滚动条里面小方块 */
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

*::-webkit-scrollbar-track {
    /* 滚动条里面轨道 */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
}

/* 主框架 */
#lovexhj,
#lovexhj > div {
    position: relative;
    height: 100%;
    background: var(--bg-color);
}

/* 加载页面 */
.lovexhjLoading {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* 猪鼻子 */
.xhj {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: rgb(236, 143, 160);
    border: 5px solid rgb(54, 49, 49);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: xhj 3s ease-in-out infinite;
    -webkit-animation: xhj 3s ease-in-out infinite;
    margin-bottom: 30px;
}

.xhj::after,
.xhj::before {
    content: "";
    display: block;
    width: 20%;
    height: 60%;
    background: rgb(54, 49, 49);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes xhj {
    0% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    5% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    10% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    15% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    20% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    25% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    30% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    70% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    75% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    80% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    85% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    90% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    95% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
}

@keyframes unlock {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 顶部菜单栏 */
.lovexhjHeader {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.lovexhjHeader p {
    font-size: 2.3rem;
}

/* 主体框架 */
.lovexhjBody {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

/* 移动框架 */
.lovexhjBookMove {
    width: 200%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

/* 内容框架 */
.lovexhjIndex {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 书本 */
.lovexhjBook {
    position: absolute;
    width: 350px;
    height: 430px;
    background: rgb(0, 99, 178);
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
    border: 15px solid black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.lovexhjBook > div {
    transition: all 1s cubic-bezier(0.78, -0.56, 0.24, 1.51);
    -webkit-transition: all 1s cubic-bezier(0.78, -0.56, 0.24, 1.51);
    -moz-transition: all 1s cubic-bezier(0.78, -0.56, 0.24, 1.51);
    -ms-transition: all 1s cubic-bezier(0.78, -0.56, 0.24, 1.51);
    -o-transition: all 1s cubic-bezier(0.78, -0.56, 0.24, 1.51);
}

/* 白色底层 */
.lovexhjBookWhiteBg {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 91%;
    height: 10%;
    background: rgb(243, 243, 243);
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
}

/* 统一大小 */
.lovexhjBookFm,
.lovexhjBookList,
.lovexhjBookListBg,
.lovexhjBookContent {
    position: absolute;
    top: 0;
    right: -2%;
    width: 90%;
    height: 87%;
    background: rgb(55, 151, 222);
    transform-origin: left;
    transform-style: preserve-3d;
    border-left: 5px solid rgb(55, 151, 222);
}

/* 封面 */
.lovexhjBookFm {
    z-index: 3;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.lovexhjBookFm p {
    font-size: 2.8rem;
    color: white;
    margin-top: 20%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* 目录页 */
.lovexhjBookList,
.lovexhjBookListBg,
.lovexhjBookContent {
    width: 85%;
    right: 3%;
    background: white;
    z-index: 2;
    overflow-y: scroll;
}

.lovexhjBookListBg {
    z-index: 1;
    cursor: pointer;
}

.lovexhjBookListBgActive {
    z-index: 2;
}

/* 封面打开 */
.lovexhjBookActive {
    transform: rotateY(-160deg);
    -webkit-transform: rotateY(-160deg);
    -moz-transform: rotateY(-160deg);
    -ms-transform: rotateY(-160deg);
    -o-transform: rotateY(-160deg);
    z-index: 1;
}

/* 标题 */
.lovexhjBookList .lovexhjBookListTitle,
.lovexhjBookListTitle {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    font-weight: bold;
}

/* 目录item */
.lovexhjBookListItem {
    width: 100%;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin: 15px 0;
    cursor: pointer;
}

.lovexhjBookListItem:last-child {
    cursor: default;
}

/* 加载文字 */
.lovexhjBookListLoad {
    text-align: center;
    color: gray;
    margin: 10px 0;
    font-size: 0.8rem;
}

.lovexhjBookListItem p {
    position: relative;
}

.lovexhjBookListItem span {
    background: white;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 0 10px;
    max-width: 40%;
    overflow: hidden;
}

.lovexhjBookListItem span:nth-child(2) {
    left: 0;
}

.lovexhjBookListItem span:nth-child(3) {
    right: 0;
}

.lovexhjBookListItem:hover span,
.lovexhjBookListItem:hover p {
    color: rgb(55, 151, 222) !important;
}

/* 目录没有内容 */
.lovexhjBookListNone {
    text-align: center;
    margin: 30px 0;
    font-size: 1.2rem;
}

/* 内容页 */
.lovexhjBookContent {
    z-index: 0;
}

.lovexhjBookContent > div {
    padding: 20px 8%;
}

.lovexhjBookListTime {
    color: gray;
    font-size: 0.9rem;
    text-align: center;
}

.lovexhjBookListTime i {
    margin: 0 10px;
}

/* 内容页样式 */
.lovexhjBookContent p,
.lovexhjBookContent h1,
.lovexhjBookContent h2,
.lovexhjBookContent h3,
.lovexhjBookContent li {
    font-weight: normal;
    margin: 10px 0;
}

.lovexhjBookContent h1 {
    font-size: 1.3rem;
}

.lovexhjBookContent h2 {
    font-size: 1.2rem;
}

.lovexhjBookContent h3 {
    font-size: 1.1rem;
}

.lovexhjBookContent ul,
.lovexhjBookContent ol {
    margin: 10px 0 10px 15px;
}

.lovexhjBookContent blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.lovexhjBookContent img {
    margin: 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.lovexhjBookContent table,
.lovexhjBookContent hr {
    margin: 20px 0;
}

.lovexhjBookContent tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.lovexhjBookContent th {
    padding: 6px 13px;
    border: 1px solid #d7ebff;
}

.lovexhjBookContent td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

/* 跳转按钮 */
.lovexhjToButton {
    position: absolute;
    bottom: 8%;
    font-size: 1.2rem;
    padding: 10px 30px;
    color: rgb(55, 151, 222);
    cursor: pointer;
    border: 3px solid rgb(55, 151, 222);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.lovexhjToButton:hover {
    color: white;
    background: rgb(55, 151, 222);
}

/* 记仇 */
.editWdnmd {
    width: 500px;
    background: var(--box-color);
    padding: 20px 30px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: var(--font-color);
}

.w-e-menu:last-child {
    display: none;
}

/* 记仇标题 */
.editWdnmdTitle {
    padding: 10px;
    display: flex;
}

.editWdnmdTitleInput {
    outline: none;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    color: var(--font-color);
    background: var(--box-color);
}

/* 记仇选择框 */
.el-select {
    width: 150px;
}

.el-select .el-input__inner {
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: var(--box-color);
    padding-left: 20px;
}

.el-select-dropdown__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.identityColor {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.el-select-dropdown {
    background: var(--box-color);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.el-popper[x-placement^="bottom"] .popper__arrow {
    display: none;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background: var(--box-color);
}

/* 记个仇 */
.wdnmdsubmit {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background: rgb(55, 151, 222);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-top: 20px;
}

.wdnmdsubmit:hover {
    background: rgb(100, 188, 255);
}

/* 转圈圈 */
.el-loading-mask {
    background-color: var(--load) !important;
    backdrop-filter: blur(3px);
    z-index: 20000;
}

/* 密码框 */
.lovexhjInputPsw {
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

/* 密码弹框 */
.el-dialog {
    width: 80%;
    max-width: 500px;
}

/* 自适应 */
@media screen and (max-width: 600px) {
    .lovexhjBookListTitle {
        font-size: 1.5rem;
    }

    .lovexhjHeader p {
        font-size: 1.5rem;
    }

    .lovexhjIndex {
        width: 100%;
    }

    .editWdnmd {
        width: 80%;
    }

    .lovexhjBook {
        width: 260px;
        height: 340px;
    }

    .lovexhjBookListItem:last-child {
        border: none;
    }

    .lovexhjBookListItem p {
        display: none;
    }

    .lovexhjBookListItem span {
        max-width: 100%;
        position: inherit;
        display: block;
        overflow: auto;
    }

    .lovexhjBookListItem span:last-child {
        font-size: .8rem;
        color: gray;
    }

    .editWdnmdTitle {
        display: block;
    }

    .editWdnmdTitleInput {
        width: 100%;
        font-size: 1.2rem;
    }

    .el-select {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .el-select .el-input__inner {
        font-size: 1rem;
    }

    .identityColor {
        margin-left: 10px;
    }
}
