/* 萌神手写体字体 */
@font-face {
    font-family: lovexhj;
    src: url("../fonts/lovexhj.ttf");
}

/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    word-break: break-all;
    outline: none;
    font-family: lovexhj;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
}

/* 统一过渡 */
#lovexhj,
#lovexhj>div,
.lovexhjBookMove {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

/* 按钮过渡 */
.lovexhjToButton,
.wdnmdsubmit {
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}

/* 定位居中 */
.wdnmdsubmit {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* 滚动条 */
*::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

*::-webkit-scrollbar-thumb {
    /* 滚动条里面小方块 */
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

*::-webkit-scrollbar-track {
    /* 滚动条里面轨道 */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
}

/* 主框架 */
#lovexhj,
#lovexhj>div {
    position: relative;
    height: 100%;
    background: var(--bg-color);
}

/* 顶部菜单栏 */
.lovexhjHeader {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.lovexhjHeader p {
    font-size: 2.3rem;
}

/* 主体框架 */
.lovexhjBody {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 移动框架 */
.lovexhjBookMove {
    width: 200%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

/* 内容框架 */
.lovexhjIndex {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 书本 */
.lovexhjBook {
    position: absolute;
    background: rgb(0, 99, 178);
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
    border: 15px solid black;
}

.lovexhjBook>div {
    transition: all 1s cubic-bezier(.78, -0.56, .24, 1.51);
    -webkit-transition: all 1s cubic-bezier(.78, -0.56, .24, 1.51);
    -moz-transition: all 1s cubic-bezier(.78, -0.56, .24, 1.51);
    -ms-transition: all 1s cubic-bezier(.78, -0.56, .24, 1.51);
    -o-transition: all 1s cubic-bezier(.78, -0.56, .24, 1.51);
}

/* 白色底层 */
.lovexhjBookWhiteBg {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 91%;
    height: 10%;
    background: rgb(243, 243, 243);
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
}

/* 封面 */
.lovexhjBookFm,
.lovexhjBookList,
.lovexhjBookListBg,
.lovexhjBookContent {
    position: absolute;
    top: 0;
    right: -2%;
    width: 90%;
    height: 87%;
    background: rgb(55, 151, 222);
    transform-origin: left;
    transform-style: preserve-3d;
    border-left: 5px solid rgb(55, 151, 222);
    cursor: pointer;
}

.lovexhjBookFm {
    z-index: 3;
}

/* 目录页 */
.lovexhjBookList,
.lovexhjBookListBg,
.lovexhjBookContent {
    width: 85%;
    right: 3%;
    background: white;
    z-index: 2;
    overflow-y: scroll;
}

.lovexhjBookListBg {
    z-index: 1;
}

.lovexhjBookListBgActive {
    z-index: 2;
}

/* 封面打开 */
.lovexhjBookActive {
    transform: rotateY(-160deg);
    -webkit-transform: rotateY(-160deg);
    -moz-transform: rotateY(-160deg);
    -ms-transform: rotateY(-160deg);
    -o-transform: rotateY(-160deg);
    z-index: 1;
}

/* 标题 */
.lovexhjBookList .lovexhjBookListTitle,
.lovexhjBookListTitle {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    font-weight: bold;
}

/* 目录item */
.lovexhjBookListItem {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin: 15px 0;
    cursor: pointer;
}

.lovexhjBookListItem p {
    position: relative;
}

.lovexhjBookListItem span {
    background: white;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 0 10px;
    max-width: 40%;
    overflow: hidden;
}

.lovexhjBookListItem span:nth-child(2) {
    left: 0;
}

.lovexhjBookListItem span:nth-child(3) {
    right: 0;
}

/* 目录没有内容 */
.lovexhjBookListNone {
    text-align: center;
    margin: 30px 0;
    font-size: 1.2rem;
    white-space: pre-wrap;
}

/* 内容页 */
.lovexhjBookContent {
    z-index: 0;
}

.lovexhjBookContent>div {
    padding: 20px 8%;
}

.lovexhjBookListTime {
    color: gray;
    font-size: .9rem;
    text-align: center;
    margin-bottom: 20px !important;
}

/* 内容页样式 */
.lovexhjBookContent p,
.lovexhjBookContent h1,
.lovexhjBookContent h2,
.lovexhjBookContent h3,
.lovexhjBookContent li {
    white-space: pre-wrap;
    font-weight: normal;
    margin: 5px 0;
}

.lovexhjBookContent h1 {
    font-size: 1.5rem;
}

.lovexhjBookContent h2 {
    font-size: 1.3rem;
}

.lovexhjBookContent h3 {
    font-size: 1.2rem;
}

.lovexhjBookContent ul,
.lovexhjBookContent ol {
    margin: 10px 0 10px 15px;
}

.lovexhjBookContent blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.lovexhjBookContent img {
    margin: 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.lovexhjBookContent table,
.lovexhjBookContent hr {
    margin: 20px 0;
}

.lovexhjBookContent tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.lovexhjBookContent th {
    padding: 6px 13px;
    border: 1px solid #d7ebff;
}

.lovexhjBookContent td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}


/* 跳转按钮 */
.lovexhjToButton {
    position: absolute;
    bottom: 10%;
    font-size: 1.2rem;
    padding: 10px 30px;
    color: rgb(55, 151, 222);
    cursor: pointer;
    border: 3px solid rgb(55, 151, 222);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.lovexhjToButton:hover {
    color: white;
    background: rgb(55, 151, 222);
}

/* 记仇 */
.editWdnmd {
    width: 500px;
    background: white;
    padding: 20px 30px;
    position: relative;
}

.w-e-menu:last-child {
    display: none;
}

/* 记仇标题 */
.editWdnmdTitle {
    padding: 10px;
}

.editWdnmdTitle input {
    outline: none;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    color: var(--font-color);
}

/* 记个仇 */
.wdnmdsubmit {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background: rgb(55, 151, 222);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-top: 20px;
}

.wdnmdsubmit:hover {
    background: rgb(100, 188, 255);
}